@charset "utf-8";
html {
    word-wrap: break-word;
    word-break: break-all;
    font-size: var(--font-size-base);
    font-feature-settings : "palt" 1;
}

body {
    letter-spacing: .075em;
    font-weight: 500;
    font-feature-settings : "palt" 1;
}

a {
    position: relative;
    outline: none;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    border: none;
    /*text-decoration: none;*/
    outline: none;
}

a img {
    outline: none;
    border: none;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
}

img {
    max-width: 100%;
    height: auto;
    width/***/: auto;
    vertical-align: middle;
}

th,
td {
    vertical-align: middle;
}

th > *:last-child,
td > *:last-child {
    margin-bottom: 0;
}



figure {
    margin-bottom: 10px;
}

dd {
    padding-left: 1em;
}