@charset "utf-8";
html {
    word-wrap: break-word;
    word-break: break-all;
    /*** モバイルでのフォントの自動拡大をしない ***/
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    letter-spacing: .05em;
}

a {
    position: relative;
    outline: none;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    border: none;
    /*text-decoration: none;*/
    outline: none;
}

a img {
    outline: none;
    border: none;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
}

img {
    max-width: 100%;
    height: auto;
    width/***/: auto;
    vertical-align: middle;
}

th,
td {
    vertical-align: middle;
}

th > *:last-child,
td > *:last-child {
    margin-bottom: 0;
}



figure {
    margin-bottom: 10px;
}

dd {
    padding-left: 1em;
}