@charset "utf-8";

#l-wrapper {
    overflow: hidden;
}

.l-section + .l-section {
    margin-top: var(--margin-base);
}

#l-side {
    margin-top: var(--margin-base);
}

@media (min-width: 768px) {
    #l-main {
        padding-bottom: 88px;
    }
    #l-side {
        margin-top: 30px;
    }
}