@charset "utf-8";

.side-box .list-news,
.side-box .side-list {
	padding-left: 0;
	list-style: none;
}

.side-box .list-news li a,
.side-box .side-list li a {
	display: block;
}

.side-box .list-news li a .date-news,
.side-box .list-news li a .label {
	display: inline-block;
	vertical-align: middle;
}

.side-box .list-news li a .label {
	margin-left: 1em;
	padding: .4em .6em .3em;
}

.side-box .list-news li a .ttl-news {
	margin-top: 6px;
}

.side-box .side-list > li {
    border-top: 1px dotted var(--color-primary);
}

.side-box .side-list > li:last-child {
    border-bottom: 1px dotted var(--color-primary);
}

.side-box .side-list li a {
	padding: 12px 2px;
}