@charset "utf-8";

.ttl-l-section {
    margin: 0 0 2.4em;
    font-size: 1.25rem;
}

.ttl-middle {
    margin: 2.6666666666667em 0 1.3333333333333em;
    font-size: 1.125rem;
}

.ttl-small {
    margin: 3em 0 1.5em;
    font-size: 1rem;
}

caption {
    line-height: 1.2;
}

caption,
.lead {
    margin-top: 1.7142857142857em;
}

.ttl-number {
    position: relative;
    padding-left: 62px;
    text-align: justify;
}

.ttl-number::before {
    counter-increment: number 1;
    content: counter(number) "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 58px;
    height: 50px;
    color: var(--color-primary);
    font-size: 2em;
    text-align: center;
}

@media (min-width: 768px) {

}
